body {
  background-color: black;
}

.gifs {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.gif {
  margin: 10px;
  display: inline-block;
}

.loader {
  color: blue;
  text-align: center;
}

.error {
    text-align: center;
    padding: 20px;
}